<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="css/owfont-regular.min.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>

<title>Weather App</title>
</head>
<body>
	<h1>Weather App</h1>
	<div id="add-weather-container">
		<label>Country: </label><input type="text" id="country" class="uppercased" value="BR"/>
		<label>City: </label><input type="text" id="city" class="capitalized" value="Sao Paulo"/>
		<button id="add-weather-btn">Add</button>
	</div>
	<ul id="weather-conteiner">
		{{#summary}}
		<li id="{{locationId}}">
			<h2>{{location.city}}, {{location.country}}</h2>
			{{#entries}}
				<div class="date-container">
					<div class="date">{{dayOfWeek}}</div>
					<table>
					{{#entries}}
						<tr class="time">	
							<td>
								{{hour}}h
							</td>
							<td>
								<i class="owf owf-{{code}} owf-2x" style="opacity: 0.4" ></i>
							</td>	
							<td>
								{{celsiusTemperature}}<sup>°C</sup> / {{fahrenheitTemperature}}<sup>°F</sup>
							</td>
						</tr>
					{{/entries}}
					</table>
				</div>
			{{/entries}}
			<div style="clear: both;"></div>
		</li>
		{{/summary}}
	</ul>

</body>
</html>
